@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

body {
    margin: 0;
    padding: 40px;
    font-family: 'MuseoModerno', sans-serif;
}

#calc {
    margin: auto;
    width: 300px;
    height: 400px;
    background-color: rgb(57, 57, 57);
    border-radius: 20px;
    padding: 40px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#screen {
    width: 260px;
    height: 76px;
    font-size: 54px;
    text-align: right;
    color: rgb(44, 43, 43);
    padding-right: 10px;
    padding-bottom: 6px;
    background-color: rgb(159, 185, 206);
    border-radius: 14px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 12px;
    height: 260px;
    width: 260px;
    margin-top: 50px;

}

#buttons div {
    height: 52px;
    width: 52px;
    background-color: rgb(158, 158, 158);
    border-radius: 10px;
    font-size: 36px;
    font-weight: 500;
    border: 1px solid darkgrey;
    color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#buttons div.clearKey {
    background-color: rgb(98, 195, 163);
}

div#equalsKey, 
#buttons div.operatorKey {
    background-color:rgb(233, 117, 74);
}